
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Northwind" asp-action="Customers">Customers</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Northwind" asp-action="GetCustomer">Search for a customer</a>
</li>

