@model Dapper101.Models.ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<h3>Click on the product to find out more info..</h3>

<table>
    <thead>
        <tr>
            @*<th>Product ID</th>*@
            <th>Product Name</th>
            
        </tr>
    </thead>
    <tbody> 

        @foreach (var product in Model.ListOfProducts)
        {
            <tr>
                @*<td>@product.ProductID</td>*@
                <td><a asp-controller="Northwind" asp-action="ProductDetails" asp-route-id="@product.ProductID">@product.ProductName</a></td>
            </tr>
        }
    </tbody>
    </table>
